@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Kumbh Sans" ,"Century Gothic", sans-serif;
    background-image: url("ss-bg.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ccc;
}

.form-container {
    width: 30dvw;
    min-width: 400px;
    min-height: 60vh;
    border: 1px solid #ccc;
    padding: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}

.form-container:hover {
    cursor: pointer;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2);
}

.form-container h1 {
    border-top: 1px solid white;
    color: #777bff;
    letter-spacing: 2px;
    margin: 10px 30px;
    padding: 5px;
    border-bottom: 1px solid white;
}

.form-container .login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    margin: 15px auto;
    padding: 20px;
    gap: 10px;
}

.login-form .login-label {
    font-size: 15px;
    font-weight: bold;
    color: #777bff;
    display: block;
    text-align: left;
}

.login-form .login-input {
    border: 1px solid #000;
    color: #000;
    background: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.login-form .login-input:focus {
    outline: none;
    border: 2px solid #777bff;
    box-shadow: none;
}

.login-form .login-input::placeholder {
    color: #999;
    opacity: 1;
    font-style: italic;
}

.login-form .login-button {
    padding: 10px 20px;
    background-color: #777bff;
    color: #eee;
    border: none;
    cursor: grab;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.2s ease-in;
}
.login-form .login-button:hover {
    background-color: #0056b3;
    color: #fff;
    border-radius: 7px;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2);
}

.forgot-pw {
    font-size: 12px;
    color:blue;
    text-align: right;
    margin-top:-10px;
    margin-bottom: 20px;
}

.forgot-pw:hover {
    color: red;
    cursor: help;
}


.form-container .login-redirect {
    color: #555;
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.login-redirect:hover {
    color: #1a1a1a;
    cursor: help;
}

.form-container .login-error {
    text-align: center;
    color: #cc0000;
}

.register-container {
    width: 50vw;
    min-height: 60vh;
    border: 1px solid #777bff;
    padding: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}

.register-container:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 #777bff;
}

.register-container h1 {
    border-top: 1px solid white;
    color: #777bff;
    letter-spacing: 2px;
    margin: 10px 30px;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid white;
}

.register-container .item-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    margin-bottom: 20px;
}

.register-container .form-group {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 5px;
}

.register-form .login-label {
    font-size: 15px;
    font-weight: bold;
    color: #777bff;
    display: block;
    text-align: left;
}

.register-form .login-input {
    border: 1px solid #ccc;
    color: black;
    background: #fff;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}

.register-form .login-input:focus {
    outline: none;
    border: 2px solid #777bff;
    box-shadow: none;
}

.register-form .login-input::placeholder {
    color: #999;
    opacity: 1;
    font-style: italic;
}

.register-form .register-button {
    padding: 10px 70px;
    background-color: #777bff;
    color: #eee;
    border: none;
    cursor: grab;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.2s ease-in;
    margin-bottom: 10px;
}
.register-form .register-button:hover {
    background-color: #0056b3;
    color: #fff;
    border-radius: 7px;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2);
}

.register-redirect {
    color: #555;
    width: 100%;
    text-decoration: none;
}

.register-redirect:hover {
    color: #1a1a1a;
    cursor: help;
}

.register-error {
    text-align: center;
    color: #cc0000;
}

/* Customer Dashboard */

.main-container {
    height: 99dvh;
    width: 99dvw;
    color: black;
    border: 1px solid transparent;
    border-radius: 10px;
    background: transparent;
    backdrop-filter: blur(200px);
}

.navbar {
    width: 60% !important;
    border-radius: 20px;
    background-color: transparent !important;
    backdrop-filter: blur(20px);
    left: 50% !important;
    transform: translateX(-50%);
    min-width: fit-content;
    justify-content: center;
    
}

.navbar * {
    font-family: "Kumbh Sans" ,"Century Gothic", sans-serif !important;
}

.nav-title {
    font-size: 1.5rem;
    background-image: linear-gradient(90deg, #f15513 20%, #35b3f1 30%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 800 !important;
}

.navbar Button {
    background-color: transparent;
    font-weight: 600;
    font-size: 1rem;
    margin: 0 2px;
    transition: .7s ease-out;
}
.navbar Button:nth-of-type(-n+3):hover {
    background-color: #777bff !important;
    transform: translateX(-2px);
}

.dashboard-container {
    margin-top: 10vh;
    padding: 10px;
    width: auto;
    height: 90%;
    border-top: 1px solid #ddd;
    text-align: center;
}

.category-nav .category-list {
    margin:0;
    margin-top: -10px;
    padding: 0;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    background-image: transparent;
    align-items: stretch;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.category-list li {
    list-style: none;
    flex-grow: 1;
    border-radius: 10px;
    padding: 2px 0;
    color: #3590f1;
    cursor: pointer;
    transition: .3s ease-in;
}

.category-list li:hover, .category-list li:active{
    background-color: #35b3f1;
    color: #f15513;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    height: 95%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: blue transparent;
    justify-content: space-evenly;
    padding: 10px;
    gap: 10px;
}

.product-card {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    min-height: 400px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    align-items: center;
    padding: 5px;
    transition: .3s ease-in;
}

.product-card:hover {
    box-shadow: 1px 1px 1px 1px #777bff;
}

.image-box {
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 10px;
    background-color: #c1c4f7;
    overflow: hidden;
}

.product-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    mix-blend-mode: multiply;
}

.image-box .product-desc {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    color: white;
    width: 100%;
    bottom: -100px;
    transition: .5s ease-in;
}

.image-box:hover .product-desc { 
    bottom: 0;
}

.product-info {
    display: flex;
    align-items: baseline;
    width: 100%;
    justify-content: space-evenly;
}


.add-to-cart-btn {
    content: "Add to";
    background-color: #777bff;
    width: 80%;
    border: none;
    transition: .3s ease-in;
}

.add-to-cart-btn:hover {
    background-color: green;
    transform: translate(-1px, -1px);
    box-shadow: 2px 2px 0 black;
}

.navigate-back div {
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
}

.navigate-back div:hover {
    color: blue;
}

.cart-container {
    display: flex;
    justify-content: space-evenly;
    height: 95%;
    padding: 10px;
    overflow:hidden;
}

.item-container {
    display: flex;
    flex-direction: column;
    min-width: calc(40%);
    border-radius: 10px;
    height: 100%;
}

@media (max-width: 800px) {
    .cart-container {
        flex-direction: column;
        justify-content: start;
        gap: 10px;
        overflow-y: scroll;
        scroll-behavior: smooth;
        scrollbar-width: thin;
        scrollbar-color: none transparent;
    }
}

.items-heading {
    display: flex;
    flex-direction: column;
    line-height: 0;
    text-align: start;
    border-bottom: 1px solid #ddd;
}

.items-heading p {
    font-size: small;
}

.item-container .items-list {
    margin-top: 5px;
    padding: 5px;
    display: flex;
    height: 100%;
    gap: 11px;
    flex-direction: column;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #777bff transparent;
}

.cart-item {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    min-height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item-image {
    flex: 1;
    display: flex;
    height: 80%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    
}

.cart-item-image img {
    width: 120px;
    height: 100%;
    object-fit:scale-down;

}

.cart-item-info {
    flex: 2;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    text-align: left;
}

.cart-item-info > * {
    margin: 0;
}

.cart-item-controls {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.cart-item-controls > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cart-item-controls > .quantity-controls {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    height: 50px;
}

.cart-item-controls button {
    border-radius: 5px;
    padding: 0 10px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-in;
}

.cart-item-controls button:hover {
    background-color: #777bff;
}

.minus-btn {
    background-color: #db8888;
}

.plus-btn {
    background-color: #8dbdbd;
}

.remove-btn {
    background-color: #ff4b4b;
}


.summary-container {
    min-width: calc(40%);
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: start;
    height: fit-content;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.summary-container div {
    display: flex;
    justify-content: space-between;
}

.summary-container div:nth-of-type(2),
.summary-container div:nth-of-type(3) {

    margin-top: -20px;
}
.summary-container div:nth-of-type(3) {
    border-bottom: 1px solid #ddd;
}

.summary-container div .checkout-btn {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #777bff;
    transition: .3s ease-in-out;
}

.summary-container div .checkout-btn:hover {
    box-shadow: 2px 2px 1px black;
    transform: translate(-1px, -1px);
}



.loading-container {
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
}

.spinner {
    animation: spin 2s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #f00;
}